.button-basic {
    border: none;
    outline: none;
  }
  
  .row-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .row-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .row-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .row-start-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .row-end-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .row-cen-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .row-cen-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  
  .row-spbt-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .row-spbt-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .row-spbt-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  
  .row-evsp-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .col-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .col-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .col-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  
  .col-start-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .col-end-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .col-cen-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  
  .col-cen-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  
  .col-evsp-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .col-spbt-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .bg-light {
    background-color: #ddd;
  }
  
  .bg-dark {
    background-color: #555;
  }
  
  .bg-blue {
    background-color: #0088ff;
  }
  
  .bg-red {
    background-color: #dd44aa;
  }
  
  .bg-green {
    background-color: #00cc66;
  }
  
  .bg-yellow {
    background-color: #ee0;
  }
  
  .fn-light {
    color: #eee;
  }
  
  .fn-dark {
    color: #313131;
  }
  
  .clm-s-1 {
    width: 1%;
  }
  
  .clm-s-2 {
    width: 2%;
  }
  
  .clm-s-3 {
    width: 3%;
  }
  
  .clm-s-4 {
    width: 4%;
  }
  
  .clm-s-5 {
    width: 5%;
  }
  
  .clm-s-6 {
    width: 6%;
  }
  
  .clm-s-7 {
    width: 7%;
  }
  
  .clm-s-8 {
    width: 8%;
  }
  
  .clm-s-9 {
    width: 9%;
  }
  
  .clm-s-10 {
    width: 10%;
  }
  
  .clm-s-11 {
    width: 11%;
  }
  
  .clm-s-12 {
    width: 12%;
  }
  
  .clm-s-13 {
    width: 13%;
  }
  
  .clm-s-14 {
    width: 14%;
  }
  
  .clm-s-15 {
    width: 15%;
  }
  
  .clm-s-16 {
    width: 16%;
  }
  
  .clm-s-17 {
    width: 17%;
  }
  
  .clm-s-18 {
    width: 18%;
  }
  
  .clm-s-19 {
    width: 19%;
  }
  
  .clm-s-20 {
    width: 20%;
  }
  
  .clm-s-21 {
    width: 21%;
  }
  
  .clm-s-22 {
    width: 22%;
  }
  
  .clm-s-23 {
    width: 23%;
  }
  
  .clm-s-24 {
    width: 24%;
  }
  
  .clm-s-25 {
    width: 25%;
  }
  
  .clm-s-26 {
    width: 26%;
  }
  
  .clm-s-27 {
    width: 27%;
  }
  
  .clm-s-28 {
    width: 28%;
  }
  
  .clm-s-29 {
    width: 29%;
  }
  
  .clm-s-30 {
    width: 30%;
  }
  
  .clm-s-31 {
    width: 31%;
  }
  
  .clm-s-32 {
    width: 32%;
  }
  
  .clm-s-33 {
    width: 33%;
  }
  
  .clm-s-34 {
    width: 34%;
  }
  
  .clm-s-35 {
    width: 35%;
  }
  
  .clm-s-36 {
    width: 36%;
  }
  
  .clm-s-37 {
    width: 37%;
  }
  
  .clm-s-38 {
    width: 38%;
  }
  
  .clm-s-39 {
    width: 39%;
  }
  
  .clm-s-40 {
    width: 40%;
  }
  
  .clm-s-41 {
    width: 41%;
  }
  
  .clm-s-42 {
    width: 42%;
  }
  
  .clm-s-43 {
    width: 43%;
  }
  
  .clm-s-44 {
    width: 44%;
  }
  
  .clm-s-45 {
    width: 45%;
  }
  
  .clm-s-46 {
    width: 46%;
  }
  
  .clm-s-47 {
    width: 47%;
  }
  
  .clm-s-48 {
    width: 48%;
  }
  
  .clm-s-49 {
    width: 49%;
  }
  
  .clm-s-50 {
    width: 50%;
  }
  
  .clm-s-51 {
    width: 51%;
  }
  
  .clm-s-52 {
    width: 52%;
  }
  
  .clm-s-53 {
    width: 53%;
  }
  
  .clm-s-54 {
    width: 54%;
  }
  
  .clm-s-55 {
    width: 55%;
  }
  
  .clm-s-56 {
    width: 56%;
  }
  
  .clm-s-57 {
    width: 57%;
  }
  
  .clm-s-58 {
    width: 58%;
  }
  
  .clm-s-59 {
    width: 59%;
  }
  
  .clm-s-60 {
    width: 60%;
  }
  
  .clm-s-61 {
    width: 61%;
  }
  
  .clm-s-62 {
    width: 62%;
  }
  
  .clm-s-63 {
    width: 63%;
  }
  
  .clm-s-64 {
    width: 64%;
  }
  
  .clm-s-65 {
    width: 65%;
  }
  
  .clm-s-66 {
    width: 66%;
  }
  
  .clm-s-67 {
    width: 67%;
  }
  
  .clm-s-68 {
    width: 68%;
  }
  
  .clm-s-69 {
    width: 69%;
  }
  
  .clm-s-70 {
    width: 70%;
  }
  
  .clm-s-71 {
    width: 71%;
  }
  
  .clm-s-72 {
    width: 72%;
  }
  
  .clm-s-73 {
    width: 73%;
  }
  
  .clm-s-74 {
    width: 74%;
  }
  
  .clm-s-75 {
    width: 75%;
  }
  
  .clm-s-76 {
    width: 76%;
  }
  
  .clm-s-77 {
    width: 77%;
  }
  
  .clm-s-78 {
    width: 78%;
  }
  
  .clm-s-79 {
    width: 79%;
  }
  
  .clm-s-80 {
    width: 80%;
  }
  
  .clm-s-81 {
    width: 81%;
  }
  
  .clm-s-82 {
    width: 82%;
  }
  
  .clm-s-83 {
    width: 83%;
  }
  
  .clm-s-84 {
    width: 84%;
  }
  
  .clm-s-85 {
    width: 85%;
  }
  
  .clm-s-86 {
    width: 86%;
  }
  
  .clm-s-87 {
    width: 87%;
  }
  
  .clm-s-88 {
    width: 88%;
  }
  
  .clm-s-89 {
    width: 89%;
  }
  
  .clm-s-90 {
    width: 90%;
  }
  
  .clm-s-91 {
    width: 91%;
  }
  
  .clm-s-92 {
    width: 92%;
  }
  
  .clm-s-93 {
    width: 93%;
  }
  
  .clm-s-94 {
    width: 94%;
  }
  
  .clm-s-95 {
    width: 95%;
  }
  
  .clm-s-96 {
    width: 96%;
  }
  
  .clm-s-97 {
    width: 97%;
  }
  
  .clm-s-98 {
    width: 98%;
  }
  
  .clm-s-99 {
    width: 99%;
  }
  
  .clm-s-100 {
    width: 100%;
  }
  
  .clm-s-101 {
    width: 101%;
  }
  
  .clm-s-102 {
    width: 102%;
  }
  
  .clm-s-103 {
    width: 103%;
  }
  
  .clm-s-104 {
    width: 104%;
  }
  
  .clm-s-105 {
    width: 105%;
  }
  
  .clm-s-106 {
    width: 106%;
  }
  
  .clm-s-107 {
    width: 107%;
  }
  
  .clm-s-108 {
    width: 108%;
  }
  
  .clm-s-109 {
    width: 109%;
  }
  
  .clm-s-110 {
    width: 110%;
  }
  
  .clm-s-111 {
    width: 111%;
  }
  
  .clm-s-112 {
    width: 112%;
  }
  
  .clm-s-113 {
    width: 113%;
  }
  
  .clm-s-114 {
    width: 114%;
  }
  
  .clm-s-115 {
    width: 115%;
  }
  
  .clm-s-116 {
    width: 116%;
  }
  
  .clm-s-117 {
    width: 117%;
  }
  
  .clm-s-118 {
    width: 118%;
  }
  
  .clm-s-119 {
    width: 119%;
  }
  
  .clm-s-120 {
    width: 120%;
  }
  
  @media screen and (min-width: 900px) {
    .clm-1 {
      width: 1%;
    }
    .clm-2 {
      width: 2%;
    }
    .clm-3 {
      width: 3%;
    }
    .clm-4 {
      width: 4%;
    }
    .clm-5 {
      width: 5%;
    }
    .clm-6 {
      width: 6%;
    }
    .clm-7 {
      width: 7%;
    }
    .clm-8 {
      width: 8%;
    }
    .clm-9 {
      width: 9%;
    }
    .clm-10 {
      width: 10%;
    }
    .clm-11 {
      width: 11%;
    }
    .clm-12 {
      width: 12%;
    }
    .clm-13 {
      width: 13%;
    }
    .clm-14 {
      width: 14%;
    }
    .clm-15 {
      width: 15%;
    }
    .clm-16 {
      width: 16%;
    }
    .clm-17 {
      width: 17%;
    }
    .clm-18 {
      width: 18%;
    }
    .clm-19 {
      width: 19%;
    }
    .clm-20 {
      width: 20%;
    }
    .clm-21 {
      width: 21%;
    }
    .clm-22 {
      width: 22%;
    }
    .clm-23 {
      width: 23%;
    }
    .clm-24 {
      width: 24%;
    }
    .clm-25 {
      width: 25%;
    }
    .clm-26 {
      width: 26%;
    }
    .clm-27 {
      width: 27%;
    }
    .clm-28 {
      width: 28%;
    }
    .clm-29 {
      width: 29%;
    }
    .clm-30 {
      width: 30%;
    }
    .clm-31 {
      width: 31%;
    }
    .clm-32 {
      width: 32%;
    }
    .clm-33 {
      width: 33%;
    }
    .clm-34 {
      width: 34%;
    }
    .clm-35 {
      width: 35%;
    }
    .clm-36 {
      width: 36%;
    }
    .clm-37 {
      width: 37%;
    }
    .clm-38 {
      width: 38%;
    }
    .clm-39 {
      width: 39%;
    }
    .clm-40 {
      width: 40%;
    }
    .clm-41 {
      width: 41%;
    }
    .clm-42 {
      width: 42%;
    }
    .clm-43 {
      width: 43%;
    }
    .clm-44 {
      width: 44%;
    }
    .clm-45 {
      width: 45%;
    }
    .clm-46 {
      width: 46%;
    }
    .clm-47 {
      width: 47%;
    }
    .clm-48 {
      width: 48%;
    }
    .clm-49 {
      width: 49%;
    }
    .clm-50 {
      width: 50%;
    }
    .clm-51 {
      width: 51%;
    }
    .clm-52 {
      width: 52%;
    }
    .clm-53 {
      width: 53%;
    }
    .clm-54 {
      width: 54%;
    }
    .clm-55 {
      width: 55%;
    }
    .clm-56 {
      width: 56%;
    }
    .clm-57 {
      width: 57%;
    }
    .clm-58 {
      width: 58%;
    }
    .clm-59 {
      width: 59%;
    }
    .clm-60 {
      width: 60%;
    }
    .clm-61 {
      width: 61%;
    }
    .clm-62 {
      width: 62%;
    }
    .clm-63 {
      width: 63%;
    }
    .clm-64 {
      width: 64%;
    }
    .clm-65 {
      width: 65%;
    }
    .clm-66 {
      width: 66%;
    }
    .clm-67 {
      width: 67%;
    }
    .clm-68 {
      width: 68%;
    }
    .clm-69 {
      width: 69%;
    }
    .clm-70 {
      width: 70%;
    }
    .clm-71 {
      width: 71%;
    }
    .clm-72 {
      width: 72%;
    }
    .clm-73 {
      width: 73%;
    }
    .clm-74 {
      width: 74%;
    }
    .clm-75 {
      width: 75%;
    }
    .clm-76 {
      width: 76%;
    }
    .clm-77 {
      width: 77%;
    }
    .clm-78 {
      width: 78%;
    }
    .clm-79 {
      width: 79%;
    }
    .clm-80 {
      width: 80%;
    }
    .clm-81 {
      width: 81%;
    }
    .clm-82 {
      width: 82%;
    }
    .clm-83 {
      width: 83%;
    }
    .clm-84 {
      width: 84%;
    }
    .clm-85 {
      width: 85%;
    }
    .clm-86 {
      width: 86%;
    }
    .clm-87 {
      width: 87%;
    }
    .clm-88 {
      width: 88%;
    }
    .clm-89 {
      width: 89%;
    }
    .clm-90 {
      width: 90%;
    }
    .clm-91 {
      width: 91%;
    }
    .clm-92 {
      width: 92%;
    }
    .clm-93 {
      width: 93%;
    }
    .clm-94 {
      width: 94%;
    }
    .clm-95 {
      width: 95%;
    }
    .clm-96 {
      width: 96%;
    }
    .clm-97 {
      width: 97%;
    }
    .clm-98 {
      width: 98%;
    }
    .clm-99 {
      width: 99%;
    }
    .clm-100 {
      width: 100%;
    }
    .clm-101 {
      width: 101%;
    }
    .clm-102 {
      width: 102%;
    }
    .clm-103 {
      width: 103%;
    }
    .clm-104 {
      width: 104%;
    }
    .clm-105 {
      width: 105%;
    }
    .clm-106 {
      width: 106%;
    }
    .clm-107 {
      width: 107%;
    }
    .clm-108 {
      width: 108%;
    }
    .clm-109 {
      width: 109%;
    }
    .clm-110 {
      width: 110%;
    }
    .clm-111 {
      width: 111%;
    }
    .clm-112 {
      width: 112%;
    }
    .clm-113 {
      width: 113%;
    }
    .clm-114 {
      width: 114%;
    }
    .clm-115 {
      width: 115%;
    }
    .clm-116 {
      width: 116%;
    }
    .clm-117 {
      width: 117%;
    }
    .clm-118 {
      width: 118%;
    }
    .clm-119 {
      width: 119%;
    }
    .clm-120 {
      width: 120%;
    }
  }
  
  .p1 {
    padding: 1px;
  }
  
  .p2 {
    padding: 2px;
  }
  
  .p3 {
    padding: 3px;
  }
  
  .p4 {
    padding: 4px;
  }
  
  .p5 {
    padding: 5px;
  }
  
  .p6 {
    padding: 6px;
  }
  
  .p7 {
    padding: 7px;
  }
  
  .p8 {
    padding: 8px;
  }
  
  .p9 {
    padding: 9px;
  }
  
  .p10 {
    padding: 10px;
  }
  
  .p11 {
    padding: 11px;
  }
  
  .p12 {
    padding: 12px;
  }
  
  .p13 {
    padding: 13px;
  }
  
  .p14 {
    padding: 14px;
  }
  
  .p15 {
    padding: 15px;
  }
  
  .p16 {
    padding: 16px;
  }
  
  .p17 {
    padding: 17px;
  }
  
  .p18 {
    padding: 18px;
  }
  
  .p19 {
    padding: 19px;
  }
  
  .p20 {
    padding: 20px;
  }
  
  .p21 {
    padding: 21px;
  }
  
  .p22 {
    padding: 22px;
  }
  
  .p23 {
    padding: 23px;
  }
  
  .p24 {
    padding: 24px;
  }
  
  .p25 {
    padding: 25px;
  }
  
  .p26 {
    padding: 26px;
  }
  
  .p27 {
    padding: 27px;
  }
  
  .p28 {
    padding: 28px;
  }
  
  .p29 {
    padding: 29px;
  }
  
  .p30 {
    padding: 30px;
  }
  
  .p31 {
    padding: 31px;
  }
  
  .p32 {
    padding: 32px;
  }
  
  .p33 {
    padding: 33px;
  }
  
  .p34 {
    padding: 34px;
  }
  
  .p35 {
    padding: 35px;
  }
  
  .p36 {
    padding: 36px;
  }
  
  .p37 {
    padding: 37px;
  }
  
  .p38 {
    padding: 38px;
  }
  
  .p39 {
    padding: 39px;
  }
  
  .p40 {
    padding: 40px;
  }
  
  .p41 {
    padding: 41px;
  }
  
  .p42 {
    padding: 42px;
  }
  
  .p43 {
    padding: 43px;
  }
  
  .p44 {
    padding: 44px;
  }
  
  .p45 {
    padding: 45px;
  }
  
  .p46 {
    padding: 46px;
  }
  
  .p47 {
    padding: 47px;
  }
  
  .p48 {
    padding: 48px;
  }
  
  .p49 {
    padding: 49px;
  }
  
  .p50 {
    padding: 50px;
  }
  
  .p51 {
    padding: 51px;
  }
  
  .p52 {
    padding: 52px;
  }
  
  .p53 {
    padding: 53px;
  }
  
  .p54 {
    padding: 54px;
  }
  
  .p55 {
    padding: 55px;
  }
  
  .p56 {
    padding: 56px;
  }
  
  .p57 {
    padding: 57px;
  }
  
  .p58 {
    padding: 58px;
  }
  
  .p59 {
    padding: 59px;
  }
  
  .p60 {
    padding: 60px;
  }
  
  .p61 {
    padding: 61px;
  }
  
  .p62 {
    padding: 62px;
  }
  
  .p63 {
    padding: 63px;
  }
  
  .p64 {
    padding: 64px;
  }
  
  .p65 {
    padding: 65px;
  }
  
  .p66 {
    padding: 66px;
  }
  
  .p67 {
    padding: 67px;
  }
  
  .p68 {
    padding: 68px;
  }
  
  .p69 {
    padding: 69px;
  }
  
  .p70 {
    padding: 70px;
  }
  
  .p71 {
    padding: 71px;
  }
  
  .p72 {
    padding: 72px;
  }
  
  .p73 {
    padding: 73px;
  }
  
  .p74 {
    padding: 74px;
  }
  
  .p75 {
    padding: 75px;
  }
  
  .p76 {
    padding: 76px;
  }
  
  .p77 {
    padding: 77px;
  }
  
  .p78 {
    padding: 78px;
  }
  
  .p79 {
    padding: 79px;
  }
  
  .p80 {
    padding: 80px;
  }
  
  .p81 {
    padding: 81px;
  }
  
  .p82 {
    padding: 82px;
  }
  
  .p83 {
    padding: 83px;
  }
  
  .p84 {
    padding: 84px;
  }
  
  .p85 {
    padding: 85px;
  }
  
  .p86 {
    padding: 86px;
  }
  
  .p87 {
    padding: 87px;
  }
  
  .p88 {
    padding: 88px;
  }
  
  .p89 {
    padding: 89px;
  }
  
  .p90 {
    padding: 90px;
  }
  
  .p91 {
    padding: 91px;
  }
  
  .p92 {
    padding: 92px;
  }
  
  .p93 {
    padding: 93px;
  }
  
  .p94 {
    padding: 94px;
  }
  
  .p95 {
    padding: 95px;
  }
  
  .p96 {
    padding: 96px;
  }
  
  .p97 {
    padding: 97px;
  }
  
  .p98 {
    padding: 98px;
  }
  
  .p99 {
    padding: 99px;
  }
  
  .p100 {
    padding: 100px;
  }
  
  .py1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .py2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .py3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .py4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .py5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .py6 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .py7 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .py8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .py9 {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .py10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .py11 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  
  .py12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .py13 {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  .py14 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  .py15 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .py16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .py17 {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
  .py18 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .py19 {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  
  .py20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .py21 {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  
  .py22 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  
  .py23 {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  
  .py24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .py25 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .py26 {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  
  .py27 {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  
  .py28 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  
  .py29 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  
  .py30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .py31 {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  
  .py32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .py33 {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  
  .py34 {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  
  .py35 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .py36 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .py37 {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  
  .py38 {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  
  .py39 {
    padding-top: 39px;
    padding-bottom: 39px;
  }
  
  .py40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .py41 {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  
  .py42 {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  
  .py43 {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  
  .py44 {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  
  .py45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
  .py46 {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  
  .py47 {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  
  .py48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  .py49 {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  
  .py50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .py51 {
    padding-top: 51px;
    padding-bottom: 51px;
  }
  
  .py52 {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  
  .py53 {
    padding-top: 53px;
    padding-bottom: 53px;
  }
  
  .py54 {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  
  .py55 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  
  .py56 {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  
  .py57 {
    padding-top: 57px;
    padding-bottom: 57px;
  }
  
  .py58 {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  
  .py59 {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  
  .py60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .py61 {
    padding-top: 61px;
    padding-bottom: 61px;
  }
  
  .py62 {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  
  .py63 {
    padding-top: 63px;
    padding-bottom: 63px;
  }
  
  .py64 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
  .py65 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  
  .py66 {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  
  .py67 {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  
  .py68 {
    padding-top: 68px;
    padding-bottom: 68px;
  }
  
  .py69 {
    padding-top: 69px;
    padding-bottom: 69px;
  }
  
  .py70 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .py71 {
    padding-top: 71px;
    padding-bottom: 71px;
  }
  
  .py72 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  
  .py73 {
    padding-top: 73px;
    padding-bottom: 73px;
  }
  
  .py74 {
    padding-top: 74px;
    padding-bottom: 74px;
  }
  
  .py75 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  
  .py76 {
    padding-top: 76px;
    padding-bottom: 76px;
  }
  
  .py77 {
    padding-top: 77px;
    padding-bottom: 77px;
  }
  
  .py78 {
    padding-top: 78px;
    padding-bottom: 78px;
  }
  
  .py79 {
    padding-top: 79px;
    padding-bottom: 79px;
  }
  
  .py80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .py81 {
    padding-top: 81px;
    padding-bottom: 81px;
  }
  
  .py82 {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  
  .py83 {
    padding-top: 83px;
    padding-bottom: 83px;
  }
  
  .py84 {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  
  .py85 {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  
  .py86 {
    padding-top: 86px;
    padding-bottom: 86px;
  }
  
  .py87 {
    padding-top: 87px;
    padding-bottom: 87px;
  }
  
  .py88 {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  
  .py89 {
    padding-top: 89px;
    padding-bottom: 89px;
  }
  
  .py90 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .py91 {
    padding-top: 91px;
    padding-bottom: 91px;
  }
  
  .py92 {
    padding-top: 92px;
    padding-bottom: 92px;
  }
  
  .py93 {
    padding-top: 93px;
    padding-bottom: 93px;
  }
  
  .py94 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .py95 {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  
  .py96 {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .py97 {
    padding-top: 97px;
    padding-bottom: 97px;
  }
  
  .py98 {
    padding-top: 98px;
    padding-bottom: 98px;
  }
  
  .py99 {
    padding-top: 99px;
    padding-bottom: 99px;
  }
  
  .py100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .px1 {
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .px2 {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .px3 {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .px4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .px5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .px6 {
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .px7 {
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .px8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .px9 {
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .px10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .px11 {
    padding-left: 11px;
    padding-right: 11px;
  }
  
  .px12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .px13 {
    padding-left: 13px;
    padding-right: 13px;
  }
  
  .px14 {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .px15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .px16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .px17 {
    padding-left: 17px;
    padding-right: 17px;
  }
  
  .px18 {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .px19 {
    padding-left: 19px;
    padding-right: 19px;
  }
  
  .px20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .px21 {
    padding-left: 21px;
    padding-right: 21px;
  }
  
  .px22 {
    padding-left: 22px;
    padding-right: 22px;
  }
  
  .px23 {
    padding-left: 23px;
    padding-right: 23px;
  }
  
  .px24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .px25 {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .px26 {
    padding-left: 26px;
    padding-right: 26px;
  }
  
  .px27 {
    padding-left: 27px;
    padding-right: 27px;
  }
  
  .px28 {
    padding-left: 28px;
    padding-right: 28px;
  }
  
  .px29 {
    padding-left: 29px;
    padding-right: 29px;
  }
  
  .px30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .px31 {
    padding-left: 31px;
    padding-right: 31px;
  }
  
  .px32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .px33 {
    padding-left: 33px;
    padding-right: 33px;
  }
  
  .px34 {
    padding-left: 34px;
    padding-right: 34px;
  }
  
  .px35 {
    padding-left: 35px;
    padding-right: 35px;
  }
  
  .px36 {
    padding-left: 36px;
    padding-right: 36px;
  }
  
  .px37 {
    padding-left: 37px;
    padding-right: 37px;
  }
  
  .px38 {
    padding-left: 38px;
    padding-right: 38px;
  }
  
  .px39 {
    padding-left: 39px;
    padding-right: 39px;
  }
  
  .px40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .px41 {
    padding-left: 41px;
    padding-right: 41px;
  }
  
  .px42 {
    padding-left: 42px;
    padding-right: 42px;
  }
  
  .px43 {
    padding-left: 43px;
    padding-right: 43px;
  }
  
  .px44 {
    padding-left: 44px;
    padding-right: 44px;
  }
  
  .px45 {
    padding-left: 45px;
    padding-right: 45px;
  }
  
  .px46 {
    padding-left: 46px;
    padding-right: 46px;
  }
  
  .px47 {
    padding-left: 47px;
    padding-right: 47px;
  }
  
  .px48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  
  .px49 {
    padding-left: 49px;
    padding-right: 49px;
  }
  
  .px50 {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .px51 {
    padding-left: 51px;
    padding-right: 51px;
  }
  
  .px52 {
    padding-left: 52px;
    padding-right: 52px;
  }
  
  .px53 {
    padding-left: 53px;
    padding-right: 53px;
  }
  
  .px54 {
    padding-left: 54px;
    padding-right: 54px;
  }
  
  .px55 {
    padding-left: 55px;
    padding-right: 55px;
  }
  
  .px56 {
    padding-left: 56px;
    padding-right: 56px;
  }
  
  .px57 {
    padding-left: 57px;
    padding-right: 57px;
  }
  
  .px58 {
    padding-left: 58px;
    padding-right: 58px;
  }
  
  .px59 {
    padding-left: 59px;
    padding-right: 59px;
  }
  
  .px60 {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .px61 {
    padding-left: 61px;
    padding-right: 61px;
  }
  
  .px62 {
    padding-left: 62px;
    padding-right: 62px;
  }
  
  .px63 {
    padding-left: 63px;
    padding-right: 63px;
  }
  
  .px64 {
    padding-left: 64px;
    padding-right: 64px;
  }
  
  .px65 {
    padding-left: 65px;
    padding-right: 65px;
  }
  
  .px66 {
    padding-left: 66px;
    padding-right: 66px;
  }
  
  .px67 {
    padding-left: 67px;
    padding-right: 67px;
  }
  
  .px68 {
    padding-left: 68px;
    padding-right: 68px;
  }
  
  .px69 {
    padding-left: 69px;
    padding-right: 69px;
  }
  
  .px70 {
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .px71 {
    padding-left: 71px;
    padding-right: 71px;
  }
  
  .px72 {
    padding-left: 72px;
    padding-right: 72px;
  }
  
  .px73 {
    padding-left: 73px;
    padding-right: 73px;
  }
  
  .px74 {
    padding-left: 74px;
    padding-right: 74px;
  }
  
  .px75 {
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .px76 {
    padding-left: 76px;
    padding-right: 76px;
  }
  
  .px77 {
    padding-left: 77px;
    padding-right: 77px;
  }
  
  .px78 {
    padding-left: 78px;
    padding-right: 78px;
  }
  
  .px79 {
    padding-left: 79px;
    padding-right: 79px;
  }
  
  .px80 {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .px81 {
    padding-left: 81px;
    padding-right: 81px;
  }
  
  .px82 {
    padding-left: 82px;
    padding-right: 82px;
  }
  
  .px83 {
    padding-left: 83px;
    padding-right: 83px;
  }
  
  .px84 {
    padding-left: 84px;
    padding-right: 84px;
  }
  
  .px85 {
    padding-left: 85px;
    padding-right: 85px;
  }
  
  .px86 {
    padding-left: 86px;
    padding-right: 86px;
  }
  
  .px87 {
    padding-left: 87px;
    padding-right: 87px;
  }
  
  .px88 {
    padding-left: 88px;
    padding-right: 88px;
  }
  
  .px89 {
    padding-left: 89px;
    padding-right: 89px;
  }
  
  .px90 {
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .px91 {
    padding-left: 91px;
    padding-right: 91px;
  }
  
  .px92 {
    padding-left: 92px;
    padding-right: 92px;
  }
  
  .px93 {
    padding-left: 93px;
    padding-right: 93px;
  }
  
  .px94 {
    padding-left: 94px;
    padding-right: 94px;
  }
  
  .px95 {
    padding-left: 95px;
    padding-right: 95px;
  }
  
  .px96 {
    padding-left: 96px;
    padding-right: 96px;
  }
  
  .px97 {
    padding-left: 97px;
    padding-right: 97px;
  }
  
  .px98 {
    padding-left: 98px;
    padding-right: 98px;
  }
  
  .px99 {
    padding-left: 99px;
    padding-right: 99px;
  }
  
  .px100 {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .pt1 {
    padding-top: 1px;
  }
  
  .pt2 {
    padding-top: 2px;
  }
  
  .pt3 {
    padding-top: 3px;
  }
  
  .pt4 {
    padding-top: 4px;
  }
  
  .pt5 {
    padding-top: 5px;
  }
  
  .pt6 {
    padding-top: 6px;
  }
  
  .pt7 {
    padding-top: 7px;
  }
  
  .pt8 {
    padding-top: 8px;
  }
  
  .pt9 {
    padding-top: 9px;
  }
  
  .pt10 {
    padding-top: 10px;
  }
  
  .pt11 {
    padding-top: 11px;
  }
  
  .pt12 {
    padding-top: 12px;
  }
  
  .pt13 {
    padding-top: 13px;
  }
  
  .pt14 {
    padding-top: 14px;
  }
  
  .pt15 {
    padding-top: 15px;
  }
  
  .pt16 {
    padding-top: 16px;
  }
  
  .pt17 {
    padding-top: 17px;
  }
  
  .pt18 {
    padding-top: 18px;
  }
  
  .pt19 {
    padding-top: 19px;
  }
  
  .pt20 {
    padding-top: 20px;
  }
  
  .pt21 {
    padding-top: 21px;
  }
  
  .pt22 {
    padding-top: 22px;
  }
  
  .pt23 {
    padding-top: 23px;
  }
  
  .pt24 {
    padding-top: 24px;
  }
  
  .pt25 {
    padding-top: 25px;
  }
  
  .pt26 {
    padding-top: 26px;
  }
  
  .pt27 {
    padding-top: 27px;
  }
  
  .pt28 {
    padding-top: 28px;
  }
  
  .pt29 {
    padding-top: 29px;
  }
  
  .pt30 {
    padding-top: 30px;
  }
  
  .pt31 {
    padding-top: 31px;
  }
  
  .pt32 {
    padding-top: 32px;
  }
  
  .pt33 {
    padding-top: 33px;
  }
  
  .pt34 {
    padding-top: 34px;
  }
  
  .pt35 {
    padding-top: 35px;
  }
  
  .pt36 {
    padding-top: 36px;
  }
  
  .pt37 {
    padding-top: 37px;
  }
  
  .pt38 {
    padding-top: 38px;
  }
  
  .pt39 {
    padding-top: 39px;
  }
  
  .pt40 {
    padding-top: 40px;
  }
  
  .pt41 {
    padding-top: 41px;
  }
  
  .pt42 {
    padding-top: 42px;
  }
  
  .pt43 {
    padding-top: 43px;
  }
  
  .pt44 {
    padding-top: 44px;
  }
  
  .pt45 {
    padding-top: 45px;
  }
  
  .pt46 {
    padding-top: 46px;
  }
  
  .pt47 {
    padding-top: 47px;
  }
  
  .pt48 {
    padding-top: 48px;
  }
  
  .pt49 {
    padding-top: 49px;
  }
  
  .pt50 {
    padding-top: 50px;
  }
  
  .pt51 {
    padding-top: 51px;
  }
  
  .pt52 {
    padding-top: 52px;
  }
  
  .pt53 {
    padding-top: 53px;
  }
  
  .pt54 {
    padding-top: 54px;
  }
  
  .pt55 {
    padding-top: 55px;
  }
  
  .pt56 {
    padding-top: 56px;
  }
  
  .pt57 {
    padding-top: 57px;
  }
  
  .pt58 {
    padding-top: 58px;
  }
  
  .pt59 {
    padding-top: 59px;
  }
  
  .pt60 {
    padding-top: 60px;
  }
  
  .pt61 {
    padding-top: 61px;
  }
  
  .pt62 {
    padding-top: 62px;
  }
  
  .pt63 {
    padding-top: 63px;
  }
  
  .pt64 {
    padding-top: 64px;
  }
  
  .pt65 {
    padding-top: 65px;
  }
  
  .pt66 {
    padding-top: 66px;
  }
  
  .pt67 {
    padding-top: 67px;
  }
  
  .pt68 {
    padding-top: 68px;
  }
  
  .pt69 {
    padding-top: 69px;
  }
  
  .pt70 {
    padding-top: 70px;
  }
  
  .pt71 {
    padding-top: 71px;
  }
  
  .pt72 {
    padding-top: 72px;
  }
  
  .pt73 {
    padding-top: 73px;
  }
  
  .pt74 {
    padding-top: 74px;
  }
  
  .pt75 {
    padding-top: 75px;
  }
  
  .pt76 {
    padding-top: 76px;
  }
  
  .pt77 {
    padding-top: 77px;
  }
  
  .pt78 {
    padding-top: 78px;
  }
  
  .pt79 {
    padding-top: 79px;
  }
  
  .pt80 {
    padding-top: 80px;
  }
  
  .pt81 {
    padding-top: 81px;
  }
  
  .pt82 {
    padding-top: 82px;
  }
  
  .pt83 {
    padding-top: 83px;
  }
  
  .pt84 {
    padding-top: 84px;
  }
  
  .pt85 {
    padding-top: 85px;
  }
  
  .pt86 {
    padding-top: 86px;
  }
  
  .pt87 {
    padding-top: 87px;
  }
  
  .pt88 {
    padding-top: 88px;
  }
  
  .pt89 {
    padding-top: 89px;
  }
  
  .pt90 {
    padding-top: 90px;
  }
  
  .pt91 {
    padding-top: 91px;
  }
  
  .pt92 {
    padding-top: 92px;
  }
  
  .pt93 {
    padding-top: 93px;
  }
  
  .pt94 {
    padding-top: 94px;
  }
  
  .pt95 {
    padding-top: 95px;
  }
  
  .pt96 {
    padding-top: 96px;
  }
  
  .pt97 {
    padding-top: 97px;
  }
  
  .pt98 {
    padding-top: 98px;
  }
  
  .pt99 {
    padding-top: 99px;
  }
  
  .pt100 {
    padding-top: 100px;
  }
  
  .pb1 {
    padding-bottom: 1px;
  }
  
  .pb2 {
    padding-bottom: 2px;
  }
  
  .pb3 {
    padding-bottom: 3px;
  }
  
  .pb4 {
    padding-bottom: 4px;
  }
  
  .pb5 {
    padding-bottom: 5px;
  }
  
  .pb6 {
    padding-bottom: 6px;
  }
  
  .pb7 {
    padding-bottom: 7px;
  }
  
  .pb8 {
    padding-bottom: 8px;
  }
  
  .pb9 {
    padding-bottom: 9px;
  }
  
  .pb10 {
    padding-bottom: 10px;
  }
  
  .pb11 {
    padding-bottom: 11px;
  }
  
  .pb12 {
    padding-bottom: 12px;
  }
  
  .pb13 {
    padding-bottom: 13px;
  }
  
  .pb14 {
    padding-bottom: 14px;
  }
  
  .pb15 {
    padding-bottom: 15px;
  }
  
  .pb16 {
    padding-bottom: 16px;
  }
  
  .pb17 {
    padding-bottom: 17px;
  }
  
  .pb18 {
    padding-bottom: 18px;
  }
  
  .pb19 {
    padding-bottom: 19px;
  }
  
  .pb20 {
    padding-bottom: 20px;
  }
  
  .pb21 {
    padding-bottom: 21px;
  }
  
  .pb22 {
    padding-bottom: 22px;
  }
  
  .pb23 {
    padding-bottom: 23px;
  }
  
  .pb24 {
    padding-bottom: 24px;
  }
  
  .pb25 {
    padding-bottom: 25px;
  }
  
  .pb26 {
    padding-bottom: 26px;
  }
  
  .pb27 {
    padding-bottom: 27px;
  }
  
  .pb28 {
    padding-bottom: 28px;
  }
  
  .pb29 {
    padding-bottom: 29px;
  }
  
  .pb30 {
    padding-bottom: 30px;
  }
  
  .pb31 {
    padding-bottom: 31px;
  }
  
  .pb32 {
    padding-bottom: 32px;
  }
  
  .pb33 {
    padding-bottom: 33px;
  }
  
  .pb34 {
    padding-bottom: 34px;
  }
  
  .pb35 {
    padding-bottom: 35px;
  }
  
  .pb36 {
    padding-bottom: 36px;
  }
  
  .pb37 {
    padding-bottom: 37px;
  }
  
  .pb38 {
    padding-bottom: 38px;
  }
  
  .pb39 {
    padding-bottom: 39px;
  }
  
  .pb40 {
    padding-bottom: 40px;
  }
  
  .pb41 {
    padding-bottom: 41px;
  }
  
  .pb42 {
    padding-bottom: 42px;
  }
  
  .pb43 {
    padding-bottom: 43px;
  }
  
  .pb44 {
    padding-bottom: 44px;
  }
  
  .pb45 {
    padding-bottom: 45px;
  }
  
  .pb46 {
    padding-bottom: 46px;
  }
  
  .pb47 {
    padding-bottom: 47px;
  }
  
  .pb48 {
    padding-bottom: 48px;
  }
  
  .pb49 {
    padding-bottom: 49px;
  }
  
  .pb50 {
    padding-bottom: 50px;
  }
  
  .pb51 {
    padding-bottom: 51px;
  }
  
  .pb52 {
    padding-bottom: 52px;
  }
  
  .pb53 {
    padding-bottom: 53px;
  }
  
  .pb54 {
    padding-bottom: 54px;
  }
  
  .pb55 {
    padding-bottom: 55px;
  }
  
  .pb56 {
    padding-bottom: 56px;
  }
  
  .pb57 {
    padding-bottom: 57px;
  }
  
  .pb58 {
    padding-bottom: 58px;
  }
  
  .pb59 {
    padding-bottom: 59px;
  }
  
  .pb60 {
    padding-bottom: 60px;
  }
  
  .pb61 {
    padding-bottom: 61px;
  }
  
  .pb62 {
    padding-bottom: 62px;
  }
  
  .pb63 {
    padding-bottom: 63px;
  }
  
  .pb64 {
    padding-bottom: 64px;
  }
  
  .pb65 {
    padding-bottom: 65px;
  }
  
  .pb66 {
    padding-bottom: 66px;
  }
  
  .pb67 {
    padding-bottom: 67px;
  }
  
  .pb68 {
    padding-bottom: 68px;
  }
  
  .pb69 {
    padding-bottom: 69px;
  }
  
  .pb70 {
    padding-bottom: 70px;
  }
  
  .pb71 {
    padding-bottom: 71px;
  }
  
  .pb72 {
    padding-bottom: 72px;
  }
  
  .pb73 {
    padding-bottom: 73px;
  }
  
  .pb74 {
    padding-bottom: 74px;
  }
  
  .pb75 {
    padding-bottom: 75px;
  }
  
  .pb76 {
    padding-bottom: 76px;
  }
  
  .pb77 {
    padding-bottom: 77px;
  }
  
  .pb78 {
    padding-bottom: 78px;
  }
  
  .pb79 {
    padding-bottom: 79px;
  }
  
  .pb80 {
    padding-bottom: 80px;
  }
  
  .pb81 {
    padding-bottom: 81px;
  }
  
  .pb82 {
    padding-bottom: 82px;
  }
  
  .pb83 {
    padding-bottom: 83px;
  }
  
  .pb84 {
    padding-bottom: 84px;
  }
  
  .pb85 {
    padding-bottom: 85px;
  }
  
  .pb86 {
    padding-bottom: 86px;
  }
  
  .pb87 {
    padding-bottom: 87px;
  }
  
  .pb88 {
    padding-bottom: 88px;
  }
  
  .pb89 {
    padding-bottom: 89px;
  }
  
  .pb90 {
    padding-bottom: 90px;
  }
  
  .pb91 {
    padding-bottom: 91px;
  }
  
  .pb92 {
    padding-bottom: 92px;
  }
  
  .pb93 {
    padding-bottom: 93px;
  }
  
  .pb94 {
    padding-bottom: 94px;
  }
  
  .pb95 {
    padding-bottom: 95px;
  }
  
  .pb96 {
    padding-bottom: 96px;
  }
  
  .pb97 {
    padding-bottom: 97px;
  }
  
  .pb98 {
    padding-bottom: 98px;
  }
  
  .pb99 {
    padding-bottom: 99px;
  }
  
  .pb100 {
    padding-bottom: 100px;
  }
  
  .plt1 {
    padding-left: 1px;
  }
  
  .prt1 {
    padding-right: 1px;
  }
  
  .plt2 {
    padding-left: 2px;
  }
  
  .prt2 {
    padding-right: 2px;
  }
  
  .plt3 {
    padding-left: 3px;
  }
  
  .prt3 {
    padding-right: 3px;
  }
  
  .plt4 {
    padding-left: 4px;
  }
  
  .prt4 {
    padding-right: 4px;
  }
  
  .plt5 {
    padding-left: 5px;
  }
  
  .prt5 {
    padding-right: 5px;
  }
  
  .plt6 {
    padding-left: 6px;
  }
  
  .prt6 {
    padding-right: 6px;
  }
  
  .plt7 {
    padding-left: 7px;
  }
  
  .prt7 {
    padding-right: 7px;
  }
  
  .plt8 {
    padding-left: 8px;
  }
  
  .prt8 {
    padding-right: 8px;
  }
  
  .plt9 {
    padding-left: 9px;
  }
  
  .prt9 {
    padding-right: 9px;
  }
  
  .plt10 {
    padding-left: 10px;
  }
  
  .prt10 {
    padding-right: 10px;
  }
  
  .plt11 {
    padding-left: 11px;
  }
  
  .prt11 {
    padding-right: 11px;
  }
  
  .plt12 {
    padding-left: 12px;
  }
  
  .prt12 {
    padding-right: 12px;
  }
  
  .plt13 {
    padding-left: 13px;
  }
  
  .prt13 {
    padding-right: 13px;
  }
  
  .plt14 {
    padding-left: 14px;
  }
  
  .prt14 {
    padding-right: 14px;
  }
  
  .plt15 {
    padding-left: 15px;
  }
  
  .prt15 {
    padding-right: 15px;
  }
  
  .plt16 {
    padding-left: 16px;
  }
  
  .prt16 {
    padding-right: 16px;
  }
  
  .plt17 {
    padding-left: 17px;
  }
  
  .prt17 {
    padding-right: 17px;
  }
  
  .plt18 {
    padding-left: 18px;
  }
  
  .prt18 {
    padding-right: 18px;
  }
  
  .plt19 {
    padding-left: 19px;
  }
  
  .prt19 {
    padding-right: 19px;
  }
  
  .plt20 {
    padding-left: 20px;
  }
  
  .prt20 {
    padding-right: 20px;
  }
  
  .plt21 {
    padding-left: 21px;
  }
  
  .prt21 {
    padding-right: 21px;
  }
  
  .plt22 {
    padding-left: 22px;
  }
  
  .prt22 {
    padding-right: 22px;
  }
  
  .plt23 {
    padding-left: 23px;
  }
  
  .prt23 {
    padding-right: 23px;
  }
  
  .plt24 {
    padding-left: 24px;
  }
  
  .prt24 {
    padding-right: 24px;
  }
  
  .plt25 {
    padding-left: 25px;
  }
  
  .prt25 {
    padding-right: 25px;
  }
  
  .plt26 {
    padding-left: 26px;
  }
  
  .prt26 {
    padding-right: 26px;
  }
  
  .plt27 {
    padding-left: 27px;
  }
  
  .prt27 {
    padding-right: 27px;
  }
  
  .plt28 {
    padding-left: 28px;
  }
  
  .prt28 {
    padding-right: 28px;
  }
  
  .plt29 {
    padding-left: 29px;
  }
  
  .prt29 {
    padding-right: 29px;
  }
  
  .plt30 {
    padding-left: 30px;
  }
  
  .prt30 {
    padding-right: 30px;
  }
  
  .plt31 {
    padding-left: 31px;
  }
  
  .prt31 {
    padding-right: 31px;
  }
  
  .plt32 {
    padding-left: 32px;
  }
  
  .prt32 {
    padding-right: 32px;
  }
  
  .plt33 {
    padding-left: 33px;
  }
  
  .prt33 {
    padding-right: 33px;
  }
  
  .plt34 {
    padding-left: 34px;
  }
  
  .prt34 {
    padding-right: 34px;
  }
  
  .plt35 {
    padding-left: 35px;
  }
  
  .prt35 {
    padding-right: 35px;
  }
  
  .plt36 {
    padding-left: 36px;
  }
  
  .prt36 {
    padding-right: 36px;
  }
  
  .plt37 {
    padding-left: 37px;
  }
  
  .prt37 {
    padding-right: 37px;
  }
  
  .plt38 {
    padding-left: 38px;
  }
  
  .prt38 {
    padding-right: 38px;
  }
  
  .plt39 {
    padding-left: 39px;
  }
  
  .prt39 {
    padding-right: 39px;
  }
  
  .plt40 {
    padding-left: 40px;
  }
  
  .prt40 {
    padding-right: 40px;
  }
  
  .plt41 {
    padding-left: 41px;
  }
  
  .prt41 {
    padding-right: 41px;
  }
  
  .plt42 {
    padding-left: 42px;
  }
  
  .prt42 {
    padding-right: 42px;
  }
  
  .plt43 {
    padding-left: 43px;
  }
  
  .prt43 {
    padding-right: 43px;
  }
  
  .plt44 {
    padding-left: 44px;
  }
  
  .prt44 {
    padding-right: 44px;
  }
  
  .plt45 {
    padding-left: 45px;
  }
  
  .prt45 {
    padding-right: 45px;
  }
  
  .plt46 {
    padding-left: 46px;
  }
  
  .prt46 {
    padding-right: 46px;
  }
  
  .plt47 {
    padding-left: 47px;
  }
  
  .prt47 {
    padding-right: 47px;
  }
  
  .plt48 {
    padding-left: 48px;
  }
  
  .prt48 {
    padding-right: 48px;
  }
  
  .plt49 {
    padding-left: 49px;
  }
  
  .prt49 {
    padding-right: 49px;
  }
  
  .plt50 {
    padding-left: 50px;
  }
  
  .prt50 {
    padding-right: 50px;
  }
  
  .plt51 {
    padding-left: 51px;
  }
  
  .prt51 {
    padding-right: 51px;
  }
  
  .plt52 {
    padding-left: 52px;
  }
  
  .prt52 {
    padding-right: 52px;
  }
  
  .plt53 {
    padding-left: 53px;
  }
  
  .prt53 {
    padding-right: 53px;
  }
  
  .plt54 {
    padding-left: 54px;
  }
  
  .prt54 {
    padding-right: 54px;
  }
  
  .plt55 {
    padding-left: 55px;
  }
  
  .prt55 {
    padding-right: 55px;
  }
  
  .plt56 {
    padding-left: 56px;
  }
  
  .prt56 {
    padding-right: 56px;
  }
  
  .plt57 {
    padding-left: 57px;
  }
  
  .prt57 {
    padding-right: 57px;
  }
  
  .plt58 {
    padding-left: 58px;
  }
  
  .prt58 {
    padding-right: 58px;
  }
  
  .plt59 {
    padding-left: 59px;
  }
  
  .prt59 {
    padding-right: 59px;
  }
  
  .plt60 {
    padding-left: 60px;
  }
  
  .prt60 {
    padding-right: 60px;
  }
  
  .plt61 {
    padding-left: 61px;
  }
  
  .prt61 {
    padding-right: 61px;
  }
  
  .plt62 {
    padding-left: 62px;
  }
  
  .prt62 {
    padding-right: 62px;
  }
  
  .plt63 {
    padding-left: 63px;
  }
  
  .prt63 {
    padding-right: 63px;
  }
  
  .plt64 {
    padding-left: 64px;
  }
  
  .prt64 {
    padding-right: 64px;
  }
  
  .plt65 {
    padding-left: 65px;
  }
  
  .prt65 {
    padding-right: 65px;
  }
  
  .plt66 {
    padding-left: 66px;
  }
  
  .prt66 {
    padding-right: 66px;
  }
  
  .plt67 {
    padding-left: 67px;
  }
  
  .prt67 {
    padding-right: 67px;
  }
  
  .plt68 {
    padding-left: 68px;
  }
  
  .prt68 {
    padding-right: 68px;
  }
  
  .plt69 {
    padding-left: 69px;
  }
  
  .prt69 {
    padding-right: 69px;
  }
  
  .plt70 {
    padding-left: 70px;
  }
  
  .prt70 {
    padding-right: 70px;
  }
  
  .plt71 {
    padding-left: 71px;
  }
  
  .prt71 {
    padding-right: 71px;
  }
  
  .plt72 {
    padding-left: 72px;
  }
  
  .prt72 {
    padding-right: 72px;
  }
  
  .plt73 {
    padding-left: 73px;
  }
  
  .prt73 {
    padding-right: 73px;
  }
  
  .plt74 {
    padding-left: 74px;
  }
  
  .prt74 {
    padding-right: 74px;
  }
  
  .plt75 {
    padding-left: 75px;
  }
  
  .prt75 {
    padding-right: 75px;
  }
  
  .plt76 {
    padding-left: 76px;
  }
  
  .prt76 {
    padding-right: 76px;
  }
  
  .plt77 {
    padding-left: 77px;
  }
  
  .prt77 {
    padding-right: 77px;
  }
  
  .plt78 {
    padding-left: 78px;
  }
  
  .prt78 {
    padding-right: 78px;
  }
  
  .plt79 {
    padding-left: 79px;
  }
  
  .prt79 {
    padding-right: 79px;
  }
  
  .plt80 {
    padding-left: 80px;
  }
  
  .prt80 {
    padding-right: 80px;
  }
  
  .plt81 {
    padding-left: 81px;
  }
  
  .prt81 {
    padding-right: 81px;
  }
  
  .plt82 {
    padding-left: 82px;
  }
  
  .prt82 {
    padding-right: 82px;
  }
  
  .plt83 {
    padding-left: 83px;
  }
  
  .prt83 {
    padding-right: 83px;
  }
  
  .plt84 {
    padding-left: 84px;
  }
  
  .prt84 {
    padding-right: 84px;
  }
  
  .plt85 {
    padding-left: 85px;
  }
  
  .prt85 {
    padding-right: 85px;
  }
  
  .plt86 {
    padding-left: 86px;
  }
  
  .prt86 {
    padding-right: 86px;
  }
  
  .plt87 {
    padding-left: 87px;
  }
  
  .prt87 {
    padding-right: 87px;
  }
  
  .plt88 {
    padding-left: 88px;
  }
  
  .prt88 {
    padding-right: 88px;
  }
  
  .plt89 {
    padding-left: 89px;
  }
  
  .prt89 {
    padding-right: 89px;
  }
  
  .plt90 {
    padding-left: 90px;
  }
  
  .prt90 {
    padding-right: 90px;
  }
  
  .plt91 {
    padding-left: 91px;
  }
  
  .prt91 {
    padding-right: 91px;
  }
  
  .plt92 {
    padding-left: 92px;
  }
  
  .prt92 {
    padding-right: 92px;
  }
  
  .plt93 {
    padding-left: 93px;
  }
  
  .prt93 {
    padding-right: 93px;
  }
  
  .plt94 {
    padding-left: 94px;
  }
  
  .prt94 {
    padding-right: 94px;
  }
  
  .plt95 {
    padding-left: 95px;
  }
  
  .prt95 {
    padding-right: 95px;
  }
  
  .plt96 {
    padding-left: 96px;
  }
  
  .prt96 {
    padding-right: 96px;
  }
  
  .plt97 {
    padding-left: 97px;
  }
  
  .prt97 {
    padding-right: 97px;
  }
  
  .plt98 {
    padding-left: 98px;
  }
  
  .prt98 {
    padding-right: 98px;
  }
  
  .plt99 {
    padding-left: 99px;
  }
  
  .prt99 {
    padding-right: 99px;
  }
  
  .m1 {
    margin: 1pt;
  }
  
  .m2 {
    margin: 2pt;
  }
  
  .m3 {
    margin: 3pt;
  }
  
  .m4 {
    margin: 4pt;
  }
  
  .m5 {
    margin: 5pt;
  }
  
  .m6 {
    margin: 6pt;
  }
  
  .m7 {
    margin: 7pt;
  }
  
  .m8 {
    margin: 8pt;
  }
  
  .m9 {
    margin: 9pt;
  }
  
  .m10 {
    margin: 10pt;
  }
  
  .m11 {
    margin: 11pt;
  }
  
  .m12 {
    margin: 12pt;
  }
  
  .m13 {
    margin: 13pt;
  }
  
  .m14 {
    margin: 14pt;
  }
  
  .m15 {
    margin: 15pt;
  }
  
  .m16 {
    margin: 16pt;
  }
  
  .m17 {
    margin: 17pt;
  }
  
  .m18 {
    margin: 18pt;
  }
  
  .m19 {
    margin: 19pt;
  }
  
  .m20 {
    margin: 20pt;
  }
  
  .m21 {
    margin: 21pt;
  }
  
  .m22 {
    margin: 22pt;
  }
  
  .m23 {
    margin: 23pt;
  }
  
  .m24 {
    margin: 24pt;
  }
  
  .m25 {
    margin: 25pt;
  }
  
  .m26 {
    margin: 26pt;
  }
  
  .m27 {
    margin: 27pt;
  }
  
  .m28 {
    margin: 28pt;
  }
  
  .m29 {
    margin: 29pt;
  }
  
  .m30 {
    margin: 30pt;
  }
  
  .my1 {
    margin: 1pt 0;
  }
  
  .my2 {
    margin: 2pt 0;
  }
  
  .my3 {
    margin: 3pt 0;
  }
  
  .my4 {
    margin: 4pt 0;
  }
  
  .my5 {
    margin: 5pt 0;
  }
  
  .my6 {
    margin: 6pt 0;
  }
  
  .my7 {
    margin: 7pt 0;
  }
  
  .my8 {
    margin: 8pt 0;
  }
  
  .my9 {
    margin: 9pt 0;
  }
  
  .my10 {
    margin: 10pt 0;
  }
  
  .my11 {
    margin: 11pt 0;
  }
  
  .my12 {
    margin: 12pt 0;
  }
  
  .my13 {
    margin: 13pt 0;
  }
  
  .my14 {
    margin: 14pt 0;
  }
  
  .my15 {
    margin: 15pt 0;
  }
  
  .my16 {
    margin: 16pt 0;
  }
  
  .my17 {
    margin: 17pt 0;
  }
  
  .my18 {
    margin: 18pt 0;
  }
  
  .my19 {
    margin: 19pt 0;
  }
  
  .my20 {
    margin: 20pt 0;
  }
  
  .my21 {
    margin: 21pt 0;
  }
  
  .my22 {
    margin: 22pt 0;
  }
  
  .my23 {
    margin: 23pt 0;
  }
  
  .my24 {
    margin: 24pt 0;
  }
  
  .my25 {
    margin: 25pt 0;
  }
  
  .my26 {
    margin: 26pt 0;
  }
  
  .my27 {
    margin: 27pt 0;
  }
  
  .my28 {
    margin: 28pt 0;
  }
  
  .my29 {
    margin: 29pt 0;
  }
  
  .my30 {
    margin: 30pt 0;
  }
  
  .mx1 {
    margin: 0 1pt;
  }
  
  .mx2 {
    margin: 0 2pt;
  }
  
  .mx3 {
    margin: 0 3pt;
  }
  
  .mx4 {
    margin: 0 4pt;
  }
  
  .mx5 {
    margin: 0 5pt;
  }
  
  .mx6 {
    margin: 0 6pt;
  }
  
  .mx7 {
    margin: 0 7pt;
  }
  
  .mx8 {
    margin: 0 8pt;
  }
  
  .mx9 {
    margin: 0 9pt;
  }
  
  .mx10 {
    margin: 0 10pt;
  }
  
  .mx11 {
    margin: 0 11pt;
  }
  
  .mx12 {
    margin: 0 12pt;
  }
  
  .mx13 {
    margin: 0 13pt;
  }
  
  .mx14 {
    margin: 0 14pt;
  }
  
  .mx15 {
    margin: 0 15pt;
  }
  
  .mx16 {
    margin: 0 16pt;
  }
  
  .mx17 {
    margin: 0 17pt;
  }
  
  .mx18 {
    margin: 0 18pt;
  }
  
  .mx19 {
    margin: 0 19pt;
  }
  
  .mx20 {
    margin: 0 20pt;
  }
  
  .mx21 {
    margin: 0 21pt;
  }
  
  .mx22 {
    margin: 0 22pt;
  }
  
  .mx23 {
    margin: 0 23pt;
  }
  
  .mx24 {
    margin: 0 24pt;
  }
  
  .mx25 {
    margin: 0 25pt;
  }
  
  .mx26 {
    margin: 0 26pt;
  }
  
  .mx27 {
    margin: 0 27pt;
  }
  
  .mx28 {
    margin: 0 28pt;
  }
  
  .mx29 {
    margin: 0 29pt;
  }
  
  .mx30 {
    margin: 0 30pt;
  }
  
  .mt1 {
    margin-top: 1pt;
  }
  
  .mt2 {
    margin-top: 2pt;
  }
  
  .mt3 {
    margin-top: 3pt;
  }
  
  .mt4 {
    margin-top: 4pt;
  }
  
  .mt5 {
    margin-top: 5pt;
  }
  
  .mt6 {
    margin-top: 6pt;
  }
  
  .mt7 {
    margin-top: 7pt;
  }
  
  .mt8 {
    margin-top: 8pt;
  }
  
  .mt9 {
    margin-top: 9pt;
  }
  
  .mt10 {
    margin-top: 10pt;
  }
  
  .mt11 {
    margin-top: 11pt;
  }
  
  .mt12 {
    margin-top: 12pt;
  }
  
  .mt13 {
    margin-top: 13pt;
  }
  
  .mt14 {
    margin-top: 14pt;
  }
  
  .mt15 {
    margin-top: 15pt;
  }
  
  .mt16 {
    margin-top: 16pt;
  }
  
  .mt17 {
    margin-top: 17pt;
  }
  
  .mt18 {
    margin-top: 18pt;
  }
  
  .mt19 {
    margin-top: 19pt;
  }
  
  .mt20 {
    margin-top: 20pt;
  }
  
  .mt21 {
    margin-top: 21pt;
  }
  
  .mt22 {
    margin-top: 22pt;
  }
  
  .mt23 {
    margin-top: 23pt;
  }
  
  .mt24 {
    margin-top: 24pt;
  }
  
  .mt25 {
    margin-top: 25pt;
  }
  
  .mt26 {
    margin-top: 26pt;
  }
  
  .mt27 {
    margin-top: 27pt;
  }
  
  .mt28 {
    margin-top: 28pt;
  }
  
  .mt29 {
    margin-top: 29pt;
  }
  
  .mt30 {
    margin-top: 30pt;
  }
  
  .mb1 {
    margin-bottom: 1pt;
  }
  
  .mb2 {
    margin-bottom: 2pt;
  }
  
  .mb3 {
    margin-bottom: 3pt;
  }
  
  .mb4 {
    margin-bottom: 4pt;
  }
  
  .mb5 {
    margin-bottom: 5pt;
  }
  
  .mb6 {
    margin-bottom: 6pt;
  }
  
  .mb7 {
    margin-bottom: 7pt;
  }
  
  .mb8 {
    margin-bottom: 8pt;
  }
  
  .mb9 {
    margin-bottom: 9pt;
  }
  
  .mb10 {
    margin-bottom: 10pt;
  }
  
  .mb11 {
    margin-bottom: 11pt;
  }
  
  .mb12 {
    margin-bottom: 12pt;
  }
  
  .mb13 {
    margin-bottom: 13pt;
  }
  
  .mb14 {
    margin-bottom: 14pt;
  }
  
  .mb15 {
    margin-bottom: 15pt;
  }
  
  .mb16 {
    margin-bottom: 16pt;
  }
  
  .mb17 {
    margin-bottom: 17pt;
  }
  
  .mb18 {
    margin-bottom: 18pt;
  }
  
  .mb19 {
    margin-bottom: 19pt;
  }
  
  .mb20 {
    margin-bottom: 20pt;
  }
  
  .mb21 {
    margin-bottom: 21pt;
  }
  
  .mb22 {
    margin-bottom: 22pt;
  }
  
  .mb23 {
    margin-bottom: 23pt;
  }
  
  .mb24 {
    margin-bottom: 24pt;
  }
  
  .mb25 {
    margin-bottom: 25pt;
  }
  
  .mb26 {
    margin-bottom: 26pt;
  }
  
  .mb27 {
    margin-bottom: 27pt;
  }
  
  .mb28 {
    margin-bottom: 28pt;
  }
  
  .mb29 {
    margin-bottom: 29pt;
  }
  
  .mb30 {
    margin-bottom: 30pt;
  }
  
  .mlt1 {
    margin-left: 1pt;
  }
  
  .mlt2 {
    margin-left: 2pt;
  }
  
  .mlt3 {
    margin-left: 3pt;
  }
  
  .mlt4 {
    margin-left: 4pt;
  }
  
  .mlt5 {
    margin-left: 5pt;
  }
  
  .mlt6 {
    margin-left: 6pt;
  }
  
  .mlt7 {
    margin-left: 7pt;
  }
  
  .mlt8 {
    margin-left: 8pt;
  }
  
  .mlt9 {
    margin-left: 9pt;
  }
  
  .mlt10 {
    margin-left: 10pt;
  }
  
  .mlt11 {
    margin-left: 11pt;
  }
  
  .mlt12 {
    margin-left: 12pt;
  }
  
  .mlt13 {
    margin-left: 13pt;
  }
  
  .mlt14 {
    margin-left: 14pt;
  }
  
  .mlt15 {
    margin-left: 15pt;
  }
  
  .mlt16 {
    margin-left: 16pt;
  }
  
  .mlt17 {
    margin-left: 17pt;
  }
  
  .mlt18 {
    margin-left: 18pt;
  }
  
  .mlt19 {
    margin-left: 19pt;
  }
  
  .mlt20 {
    margin-left: 20pt;
  }
  
  .mlt21 {
    margin-left: 21pt;
  }
  
  .mlt22 {
    margin-left: 22pt;
  }
  
  .mlt23 {
    margin-left: 23pt;
  }
  
  .mlt24 {
    margin-left: 24pt;
  }
  
  .mlt25 {
    margin-left: 25pt;
  }
  
  .mlt26 {
    margin-left: 26pt;
  }
  
  .mlt27 {
    margin-left: 27pt;
  }
  
  .mlt28 {
    margin-left: 28pt;
  }
  
  .mlt29 {
    margin-left: 29pt;
  }
  
  .mlt30 {
    margin-left: 30pt;
  }
  
  .mrt1 {
    margin-right: 1pt;
  }
  
  .mrt2 {
    margin-right: 2pt;
  }
  
  .mrt3 {
    margin-right: 3pt;
  }
  
  .mrt4 {
    margin-right: 4pt;
  }
  
  .mrt5 {
    margin-right: 5pt;
  }
  
  .mrt6 {
    margin-right: 6pt;
  }
  
  .mrt7 {
    margin-right: 7pt;
  }
  
  .mrt8 {
    margin-right: 8pt;
  }
  
  .mrt9 {
    margin-right: 9pt;
  }
  
  .mrt10 {
    margin-right: 10pt;
  }
  
  .mrt11 {
    margin-right: 11pt;
  }
  
  .mrt12 {
    margin-right: 12pt;
  }
  
  .mrt13 {
    margin-right: 13pt;
  }
  
  .mrt14 {
    margin-right: 14pt;
  }
  
  .mrt15 {
    margin-right: 15pt;
  }
  
  .mrt16 {
    margin-right: 16pt;
  }
  
  .mrt17 {
    margin-right: 17pt;
  }
  
  .mrt18 {
    margin-right: 18pt;
  }
  
  .mrt19 {
    margin-right: 19pt;
  }
  
  .mrt20 {
    margin-right: 20pt;
  }
  
  .mrt21 {
    margin-right: 21pt;
  }
  
  .mrt22 {
    margin-right: 22pt;
  }
  
  .mrt23 {
    margin-right: 23pt;
  }
  
  .mrt24 {
    margin-right: 24pt;
  }
  
  .mrt25 {
    margin-right: 25pt;
  }
  
  .mrt26 {
    margin-right: 26pt;
  }
  
  .mrt27 {
    margin-right: 27pt;
  }
  
  .mrt28 {
    margin-right: 28pt;
  }
  
  .mrt29 {
    margin-right: 29pt;
  }
  
  .mrt30 {
    margin-right: 30pt;
  }